@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;800&display=swap');
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* */
}

:root{
  --utama: #FF0032;
  --bgMode: hsl(41, 60%, 99%);
  --fontMode: hsl(0, 0%, 0%);
}
.darkMode{
  --bgMode: hsl(250, 28%, 12%);
  --fontMode: hsl(41, 60%, 99%); 
}
.tombol-mode{
  color: var(--fontMode);
  cursor: pointer;
  font-size: 18px;
}
body{
  background: var(--bgMode);
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  height: 1000vh;
}
/* mode */

.container{
  position: relative;
  width: 80%;
  margin: 0 auto;
  
}
.rata{
  width: 90%;
  margin: 0 auto;
}
.scrol{
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow-y: auto;
  transition: all 1s;
}
img{
  min-width: 200px;
  max-width: 100%;
  height: auto;
}

/* Awal Bagian navbar */
nav{
  background: var(--bgMode);
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0;
  gap: 10rem;
  z-index: 1;
  box-shadow: 0.2px 0.2px 3px rgb(223, 222, 222);
}
nav h1{
  color: var(--fontMode);
}
nav ul{
  background: var(--bgMode);
  display: flex;
  gap: 32.5px;
}
nav ul li{
  color: var(--fontMode);
}
nav ul li:hover{
  color: var(--utama);
}
nav ul li a{
  font-size: 13.5px;
  letter-spacing: 0.3px;
  font-weight: 550;
}
#Home{
  border: 1px solid;
}
/* Akhir Bagian navbar */

/* Navigation di bagian mobile */
  .navigation-mobile{
    background: var(--bgMode);
    display: none;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    min-height: auto;
    bottom: 0;
    padding: 13px 0;
    z-index: 1;
  }
  .navigation-mobile h1{
    color: var(--fontMode);
    font-size: 1.36rem;
  }
  .navigation-mobile ul{z-index: 1;
    background: var(--bgMode);
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 20px 40px 20px;
    box-shadow: 0.7px 0.7px 3px gray;
    width: 100%;
    height: 230px;
    position: absolute;
    bottom: -233px;
    left: 0;
    transition: 0.5s;
    gap: 5%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .navigation-mobile ul li{
    color: var(--fontMode);
    text-align: center;
    width: 30%;
  }
  .navigation-mobile ul li:hover{
    color: var(--utama);
  }
  .navigation-mobile ul li a{
    width: 30%;
    text-align: center;
    font-size: 0.88em;
  }
  .navigation-mobile ul li a i{
    font-size: 1.2em;
  }
  .aktip{
    color: var(--utama);
  }
  .fontMode{
    color: var(--fontMode);
  }
  .navigation-mobile h1,
  .navigation-mobile .mode-list{
    color: var(--fontMode);
    padding: 0 20px;
  }
  .mode-list .tombol-list{
    cursor: pointer;
    color: var(--fontMode);
  }
  .mode-list{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.1em;
    font-weight: bold;
  }
  .back{
    display: none;
    position: absolute;
    right: 20px;
    z-index: 99;
    transition: 1s;
    font-size: 1.5em;
    color: var(--utama);
  }
  .show{
    display: flex;
  }
  .none{
    display: none;
  }
  .d{
    transform: translateY(-100%);
  }

/*============ Awal Bagian Home ==============*/
.home{
  width: 100%;
  height: 93vh;
  padding-top: 70px;
}
.seyHay{
  width: 100%;
  display: grid;
  grid-template-areas: 'icon data image';
  align-items: center;
}
.seyHay .item1 { grid-area: icon; }
.seyHay .item2 { grid-area: image; }
.seyHay .item3 { grid-area: data; }
.seyHay .icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px; 
}
.seyHay .icon i{
  font-size: 18px;
  color: var(--utama);
}
.seyHay img{
  width: 409px;
}
.seyHay .data{
  max-width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0;
  padding-left: 3rem;
  gap: 30px;
}
.seyHay .data div{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  position: relative;
}
.seyHay .data a{
  width: 50%;
  font-size: 1em;
  text-align: center;
  padding: 16px 0;
  background-color: var(--utama);
  color: var(--light);
  border-radius: 8px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: hsl(41, 60%, 99%);
}
.seyHay .data .garis{
  position: relative;
  border-right: 3px solid var(--fontMode);
  font-size: 2.9rem;
  font-family: 'IBM Plex Mono', monospace;
  color: var(--fontMode);
  max-width: 94%;
  white-space: nowrap;
  overflow: hidden;
}.seyHay .data .animasi-ketikan{
  animation: ketikan 2.8s steps(20) 1s 1 normal both,
    kedip 1000ms steps(20) infinite normal;
}
@keyframes ketikan {
  from {
    width: 0;
  } to {
    width: 94%;
  }
}
@keyframes kedip {
  from {
    border-right-color: var(--fontMode);
  } to {
    border-right-color: transparent;
  }
}
.seyHay .data span{
  font-size: 1.2rem;
  letter-spacing: 0.8px;
  margin-bottom: 14px;
  margin-top: -3px;
  color: var(--fontMode);
  font-weight: 400;
}
.seyHay .data p{
  color: var(--fontMode);
  /* opacity: ; */
  font-weight: 300;
}
.scroll-down{
  display: flex;
  align-items: center;
  gap: 3px;
  width: 75%;
  margin: 90px auto 0 auto;
  transition: 0.5s;
}
.scroll-down:hover{
  transform: translateY(5px);
}
.scroll-down a{
  font-size: 0.9em;
  color: var(--fontMode);
  font-weight: 500;
}
.scroll-down i{
  font-size: 1.5em;
  color: var(--utama);
  cursor: pointer;
  font-weight: bold;
}
.scroll-down i:nth-child(3){
  font-size: 0.9em;
}
/*============== Akhir bagian Home ================*/

/* ============== Awal Bagian About =============== */
section#About{
  position: relative;
  width: 100%;
  padding-top: 10px;
  padding-top: 107px;
}
.container section h1{
  text-align: center;
  color: var(--fontMode);
  font-size: 2.1em;
}
.container section center{
  font-weight: 200;
  color: var(--fontMode);
  font-size: 0.9em;
}
.about-main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  padding: 0px 0;
}
.about-main img{
  height: 100%;
  width: 50%;
  padding: 0 20px;
}
.about-data{
  display: flex;
  flex-direction: column;
  gap: 39px;
  width: 43%;
  margin-top: 4rem;
}
.about-data p{
  text-align: center;
  color: var(--fontMode);
  opacity: 1;
  font-weight: 300;
  text-align: justify;
  font-size: 1em;
}
.about-data .data-info{
  display: flex;
  justify-content: space-between;
}
.data-info .info{
  color: var(--fontMode);
  font-weight: 300;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.data-info .info span:nth-child(1){
  font-weight: bold;
  font-size: 1.3em;
}
.data-info .info span:nth-child(2){
  font-size: 0.8em;
}
.about-data a{
  color: white;
  width: 40%;
  text-align: center;
  padding: 14px 0;
  border-radius: 7px;
  background-color: var(--utama);
}
/* ============== Akhir Bagian About =============== */


/* ============== Awal Bagian Journey =============== */
section#MyJourney{
  padding-top: 100px;
}
.journey-main{
  display: flex;
  gap: 50px;
}
.journey-main .row{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.journey-main .row h4{
  font-size: 1.2em;
  font-weight: 600;
  color: var(--fontMode);
}
.journey-main .row p{
  font-weight: 300;
  color: var(--fontMode);
}
.journey{
  display: flex;
  gap: 20px;
}
.journey i:nth-child(1){
  font-size: 1.7em;
  color: var(--fontMode);
}
.head-journey {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px; 
}
.title-journey{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.title-journey h4{
  font-size: 1.2em;
  font-weight: 600;
  color: var(--fontMode);
}
.title-journey h4 span{
  font-size: 0.75em;
  font-weight: 300;
  opacity: 0.9;
}
.title-journey i{
  font-weight: 600;
  color: var(--utama);
}
.isi-journey{
  display: flex;
  flex-direction: column;
}
.isi-journey .kualifikasi{
  display: flex;
  width: 100%;
  height: 200px;
  gap: 20px;
}
.isi-journey .kualifikasi-data{
  color: var(--fontMode);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 45%;
}
.isi-journey .kualifikasi-data .data{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.isi-journey .kualifikasi-data .data i{
  font-size: 1em;
  color: var(--fontMode);
}
.kualifikasi-data h4{
  font-size: 1.05em;
}
.kualifikasi-data span{
  font-size: 0.95em;
  font-weight: 300;
}
.kualifikasi-data div{
  font-size: 0.9em;
  font-weight: 300;
  opacity: 0.9;
}
.kualifikasi-data a{
  font-size: 0.9em;
  color: hsl(41, 60%, 99%);
  background: var(--utama);
  padding: 7px 19px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.isi-journey .garis-line{
  width: 1px;
  height: 100%;
  background-color: var(--utama);
  position: relative;
  display: flex;
  justify-content: center;
}
.isi-journey .point{
  width: 13px;
  height: 13px;
  background: var(--utama);
  border-radius: 50%;
}
.isi-journey .garis-line .point:nth-child(1){
  position: absolute;
  top: 0;
}
.isi-journey .garis-line .point:nth-child(2){
  position: absolute;
  bottom: -10px;
}
.kualifikasi-2{
  display: flex;
  justify-content: flex-end;
}
.kualifikasi-2 .point{
  width: 13px;
  height: 13px;
  background: var(--utama);
}
/* ============== Akhir Bagian Journey =============== */




/*============== Media screen Ipad  */
@media(max-width: 1170px){
  section#home{
    height: auto;
  }
  .container{
    width: 90%;
  }
}
@media(max-width: 1000px){
  .container {
    width: 94%;
  }
  nav{
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }
  .seyHay .data{
    width: 100%;
    max-width: 370px;
    padding: 40px 0;
    padding-left: 2.2rem;
    margin-right: 1rem;
    gap: 25px;
  }
  .seyHay .data h1{
    font-size: 2em;
  }
  .seyHay .data span{
    font-size: 1.15rem;
  }
  .seyHay .data p{
    line-height: 1.5em;
    font-weight: 300;
  }
  .seyHay .data a{
    max-width: 100%;
    font-size: 0.9em;
    padding: 18px 0;
  }
 
}

/*============== Media screen Mobile  */
@media(max-width: 700px) {
  /* ================== Awal bagian Home =============== */
  .navigation-mobile{
    display: flex;
  }

  nav{
    display: none;
    gap: 0;
  }
  .seyHay{
    width: 100%;
    display: grid;
    grid-template-areas: 
    'icon image'
    'data data';
    align-items: center;
    justify-content: center;
    padding: 0 12px;
  }
  .seyHay .icon{
    gap: 18px;
  }
  .seyHay img{
    padding: 5px 5px 0 45px;
  }
  .seyHay .data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0;
  }
  .seyHay .data .garis{
    font-size: 2.5em;
  }
  .seyHay .data span{
    font-size: 1rem;
  }
  .seyHay .data a{
    width: 60%;
    font-size: 1em;
  }
  .scroll-down{
    display: none;
  }
  /* =============== Akhir BAgian Home =============== */

  /* ============== Awal Bagian About =============== */
  section#About{
    width: 100%;
    padding: 0;
    padding-top: 0;
  }
  section#About h1{
    text-align: center;
    color: var(--fontMode);
    font-size: 1.4em;
    font-weight: 500;
  }
  section#About center{
    font-weight: 200;
    color: var(--fontMode);
    font-size: 0.8em;
  }
  .about-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
  }
  .about-main img{
    width: 100%;
  }
  .about-data{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
  }
  .about-data p{
    text-align: center;
    color: var(--fontMode);
    opacity: 1;
    font-weight: 300;
  }
  .about-data .data-info{
    display: flex;
    justify-content: space-evenly;
  }
  .data-info .info{
    color: var(--fontMode);
    font-weight: 300;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .data-info .info span:nth-child(1){
    font-weight: bold;
    font-size: 1.3em;
  }
  .data-info .info span:nth-child(2){
    font-size: 0.8em;
  }
  .about-data a{
    width: 50%;
    margin: 0 auto;
  }
  .rata {
    width: 100%;
  }
  /* ============== Akhir Bagian About =============== */
}















